{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
{% if not carrinho_items %}
	<h2 class="text-center">Seu carrinho está vazio.</h2>
	<br> 
	<div class="text-center">
		<a class="btn btn-primary" href="{% url 'loja' %}">Continuar Comprando</a>
	</div>
	<br><br>
<!--Mensagem-->
{% else %}


	<div class="row">
		<aside class="col-lg-9">
	<div class="card">
	<table class="table table-borderless table-shopping-cart">
	<thead class="text-muted">
	<tr class="small text-uppercase">
	<th scope="col">Product</th>
	<th scope="col" width="120">Quantity</th>
	<th scope="col" width="120">Price</th>
	<th scope="col" class="text-right" width="200"> </th>
	</tr>
	</thead>
	<tbody>
	{% for carrinho_item in carrinho_items %}
	<tr>
		<td>
			<figure class="itemside align-items-center">
				<div class="aside"><img src="{{ carrinho_item.produto.imagem.url }}" class="img-sm"></div>
				<figcaption class="info">
					<a href="{{ carrinho_item.produto.get_url }}" class="title text-dark">{{ carrinho_item.produto.nome_produto }}</a>
					<p class="text-muted small">
						{% if carrinho_item.variacoes.all %}
							{% for item in carrinho_item.variacoes.all %}
								{{item.variacao_categoria | capfirst}} : {{item.variacao_valor | capfirst}} <br>
							{% endfor %}
						{% endif %}
					</p>
				</figcaption>
			</figure>
		</td>
		<td> 
			<!-- col.// -->
						<div class="col"> 
							<div class="input-group input-spinner">
								<div class="input-group-prepend">
								<a href="{% url 'remove_carrinho' carrinho_item.produto.id carrinho_item.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
								</div>
								<input type="text" class="form-control"  value="{{carrinho_item.quantidade}}">
								<div class="input-group-append">
									<form action="{% url 'add_cart' carrinho_item.produto.id %}" method="POST">
										{% csrf_token %}
										{% for item in carrinho_item.variacoes.all %}
											<input type="hidden" name="{{item.variacao_categoria | lower }}" value="{{item.variacao_valor | capfirst }}">
										{% endfor %}
										<button class="btn btn-light" type="submit" id="button-minus"> <i class="fa fa-plus"></i> </button>
									</form>
								</div>
							</div> <!-- input-group.// -->
						</div> <!-- col.// -->
		</td>
		<td> 
			<div class="price-wrap"> 
				<var class="price">R${{carrinho_item.sub_total}}.00</var> 
				<small class="text-muted"> R${{carrinho_item.produto.preco}} un </small> 
			</div> <!-- price-wrap .// -->
		</td>
		<td class="text-right"> 
		<a href="{% url 'remove_carrinho_item' carrinho_item.produto.id carrinho_item.id %}" onclick="return confirm('Você quer deletar este item?')" class="btn btn-danger"> Remove</a>
		</td>
	</tr>
	{% endfor  %}

	</tbody>
	</table>
	</div> <!-- card.// -->

		</aside> <!-- col.// -->
		<aside class="col-lg-3">

			<div class="card">
			<div class="card-body">
				<dl class="dlist-align">
				<dt>SubTotal:</dt>
				<dd class="text-right">R${{total}}.00</dd>
				</dl>
				<dl class="dlist-align">
				<dt>Taxa:</dt>
				<dd class="text-right"> R${{taxa}}</dd>
				</dl>
				<dl class="dlist-align">
				<dt>Total:</dt>
				<dd class="text-right text-dark b"><strong>R${{total_geral}}</strong></dd>
				</dl>
				<hr>
				<p class="text-center mb-3">
					<img src="{% static './images/misc/payments.png' %}" height="26">
				</p>
				<a href="#" class="btn btn-primary btn-block"> Checkout </a>
				<a href="{% url 'loja' %}" class="btn btn-light btn-block">Continue comprando</a>
			</div> <!-- card-body.// -->
			</div> <!-- card.// -->

	</aside> <!-- col.// -->
{% endif %}

{% endblock %}